<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input type="text" class="form-input" name="name" placeholder="entrer nom produit" ngmodel>
        <input type="text" class="form-input" name="price" placeholder="entrer prix produit" ngmodel>
        <input type="text" class="form-input" name="category" placeholder="entrer category produit" ngmodel>
        <input type="text" class="form-input" name="color" placeholder="entrer couleur produit" ngmodel>
        <textarea type="text" class="form-input" name="description" placeholder="entrer descirption produit" ngmodel></textarea>
        <input type="text" class="form-input" name="image" placeholder="entrer une image" ngmodel>
        <button class="form-button">Add Product</button>
    </form>
</div>
